.dashedUpload {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23e5e4de' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.roadmapLine {
  width: 1px;
  background-color: var(--border-color);
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  z-index: 0;
}
